{% extends "sidebar.html" %}

{% block content %}
<div class="main p-6">
    <div class="bg-white rounded-lg shadow-md p-6 mb-6">
        <div class="flex justify-between items-center mb-4">
            <h2 class="text-2xl font-semibold">Informations sur les Absences</h2>
            <a href="{% url 'student:add_absence' %}" class="inline-flex items-center px-4 py-2 border border-transparent text-base font-medium rounded-md text-white bg-gray-500 hover:bg-gray-700">
                <i class="fas fa-plus-circle mr-2"></i> Ajouter une Absence
            </a>
        </div>
        <div class="overflow-x-auto">
            <table class="min-w-full divide-y divide-gray-200">
                <thead class="bg-gray-100">
                    <tr>
                        <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Nom</th>
                        <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Prénom</th>
                        <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Matricule</th>
                        <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Date d'absence</th>
                        <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Numéro d'absence</th>
                        <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Actions</th>
                    </tr>
                </thead>
                <tbody class="bg-white divide-y divide-gray-200">
                    {% if absences %}
                        {% for absence in absences %}
                            <tr>
                                <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">{{ absence.first_name }}</td>
                                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">{{ absence.last_name }}</td>
                                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">{{ absence.matricule }}</td>
                                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">{{ absence.absence_date }}</td>
                                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">{{ absence.absence_number }}</td>
                                <td class="px-6 py-4 whitespace-nowrap text-right text-sm font-medium">
                                    <a href="{% url 'student:update_absence' absence.id %}" class="text-blue-500 hover:text-blue-700">Modifier</a>
                                    <a onclick="notif({{ absence.id }})" class="text-red-500 hover:text-red-700 cursor-pointer ml-4">Supprimer</a>
                                </td>
                            </tr>
                        {% endfor %}
                    {% else %}
                        <tr>
                            <td colspan="6" class="px-6 py-4 text-center text-red-500">
                                <h1>Aucune Information pour l'instant</h1>
                            </td>
                        </tr>
                    {% endif %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock content %}

{% block notif_javascript %}
<script>
    function notif(absenceId) {
        const deleteUrl = "{% url 'student:delete_absence' 0 %}".replace('0', absenceId);
        Swal.fire({
            title: "Êtes-vous sûr de vouloir supprimer ?",
            icon: "question",
            iconHtml: "?",
            confirmButtonText: "Oui",
            cancelButtonText: "Non",
            showCancelButton: true,
            showCloseButton: true
        }).then((result) => {
            if (result.isConfirmed) {
                window.location.href = deleteUrl;  // Redirect to the dynamically generated URL
            }
        });
    }
</script>
{% endblock notif_javascript %}
