{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Connexion - MonEtab</title>
    <link
        href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css"
        rel="stylesheet"
    />
    <style>
        /* Ajoutez des styles personnalisés si nécessaire */
        .bg-custom {
            background: linear-gradient(135deg, #1f2937 0%, #4b5563 100%);
        }
    </style>
</head>
<body class="bg-custom flex items-center justify-center h-screen">

    <div class="bg-white p-8 rounded-lg shadow-lg max-w-md w-full">
        <div class="flex items-center mb-6">
            <!-- Logo -->
            <img src="{% static 'images/logo_site.png' %}" alt="Logo" class="w-12 h-12 mr-4">
            <!-- Titre -->
            <h1 class="text-3xl font-bold text-gray-800">
                Connexion - MonEtab
            </h1>
        </div>
        <form action="{% url 'login:signin' %}" method="POST" class="space-y-6">
            {% csrf_token %}

            <div class="space-y-4">
                <div class="relative">
                    <label for="identifiant" class="block text-sm font-medium text-gray-600">Identifiant</label>
                    <input
                        type="text"
                        id="identifiant"
                        name="identifiant"
                        class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-1 focus:ring-indigo-500 sm:text-sm"
                        placeholder="Identifiant"
                        required
                    />
                </div>
                <div class="relative">
                    <label for="motdepasse" class="block text-sm font-medium text-gray-600">Mot de passe</label>
                    <input
                        type="password"
                        id="motdepasse"
                        name="motdepasse"
                        class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-1 focus:ring-indigo-500 sm:text-sm"
                        placeholder="Mot de passe"
                        required
                    />
                </div>
            </div>

            <button
                type="submit"
                class="w-full py-2 px-4 bg-blue-500 text-white font-semibold rounded-md shadow-sm hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-offset-2"
            >
                Se connecter
            </button>
        </form>
        <div class="mt-4 text-center">
            <a href="{% url 'login:signup' %}" class="text-blue-500 hover:underline">
                <i class="fas fa-sign-out-alt"></i> Inscrivez-vous ici
            </a>
        </div>
    </div>

</body>
</html>
